@import "_reset.css";

*,form, table {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
}

body {
    height: 100%;
    width: 100%;
    background-color: rgba(187, 238, 212, 0.686);
}

.big-container {
    margin-top: 50px;
    margin-left:100px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.hidden {
    display: none;
}

.showForm {
    display: block;
}

.booksTable *{
    text-align: left;
    padding: 5px 10px;
}

.booksTable {
    margin-top: 50px;
    min-width: 800px;
}

thead th{
    font-size: 1.3rem;
    background-color: black;
    color: white;
    font-weight: 700;
    border: 2px solid black;
}


td, th{
    border: 2px solid black;
}


.columnRead {
    width: 55px;   
}

.columnRating{
    width: 80px;
}



.bg-color{
    background-color: rgba(163, 220, 205, 0.518);
}


.x-Cell {
    width: 20px;
    border: transparent;
    padding: 0;
    background-color: transparent;
}

.x-Btn {
    width: 20px;
    height: 20px;
    text-align: center;
    margin-left: 5px;
    border: none;
    background-color: transparent;
    background-image: url("../images/deleteBtn.svg");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.x-Btn:hover {
    background-color:white;
}

.readCells {
    padding: 0;
    text-align: center;
}

.readBtns {
    margin-top: 4px;
    height: 25px;
    width: 25px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: 0px;
    border-radius: 50%;
    cursor: pointer;
}

.readBtns:hover {
    background-color: white;
}